.container {
	margin-top: 16px;
}

body {
	background-color: #263238;
	color: #eeeeee;
}

.links {
	text-align: center;
}

a {
	color: #ffc107;
}

#profile a {
	color:#ff6d00;
	font-weight: bold;
   pointer-events: none;
   cursor: default;
}

#newpost {
	width: 100%;
	background-color: #c0ca33;
	border-radius: 5px;
	color: #061218;
	text-align: center;
	padding-bottom: 0px;

}

#newpost span {
	color: #061218;
	margin: 0.5em 5px 6px -2px;
	padding-bottom: 4px;
}

#username {
	font-weight: bold;
	text-align: right;
	color: #e0e0e0;
}

#title {
	color: #3f93b7;
	font-weight: bold;
	font-size: 20px;
}

#posts {
	margin-top: 20px;
}

.post-title {
	background-color: #455a64;
	color: #061218;
	border-radius: 4px;
	border-width: 0px;
	padding: 6px 4px 0.5px 6px;
	margin-bottom: 4px;
	font-weight: bold;
	font-size: 16px;
}

.post-text {
	background-color: #546e7a;
	color: #061218;
	padding: 6px 6px 6px 10px;
	border-radius: 4px;
	margin-bottom: 10px;
}

.date {
	float: right;
	padding-top: 10px;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

.author {
	font-weight: bold;
	color: #004d40;
}

.edit {
	float: right;
	margin: 5px 5px 0px 5px;
}